absl-py==0.7.1
aiohttp==3.5.4       
aiohttp-jinja2==1.1.0
aioopenssl==0.4.1    
aiosasl==0.4.0       
aioxmpp==0.10.3      
alabaster==0.7.12
altair==2.4.1
altgraph==0.16.1
androguard==3.3.5
arrow==0.13.1
asn1crypto==0.24.0
astor==0.7.1
astroid==2.2.5
async-timeout==3.0.1
attrs==19.1.0
autopep8==1.4.4
Babel==2.6.0
backcall==0.1.0
beautifulsoup4==4.7.1
biplist==1.0.3
bleach==3.1.0
blinker==1.4
bokeh==1.0.4
brotlipy==0.7.0
bs4==0.0.1
capfuzz==0.0.1
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
cloudpickle==1.0.0
colorama==0.4.1
colorlog==4.0.2
configparser==3.7.4
cryptography==2.6.1
cycler==0.10.0
cytoolz==0.9.0.1
dask==1.2.2
decorator==4.4.0
distributed==1.26.0
Django==2.2
dnspython==1.16.0
docutils==0.14
dominate==2.3.5
ember==0.1.0
entrypoints==0.3
Flask==1.0.2
Flask-BabelEx==0.9.3
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
flask-marshmallow==0.10.0
Flask-Misaka==1.0.0
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-SQLAlchemy==2.4.0
Flask-Testing==0.7.1
Flask-WTF==0.14.2
future==0.17.1
gast==0.2.2
graphviz==0.10.1
grpcio==1.18.0
gunicorn==19.9.0
h11==0.7.0
h2==3.1.0
h5py==2.9.0
heapdict==1.0.0
hpack==3.0.0
hyperframe==5.2.0
ibm-cloud-sdk-core==0.5.1
ibm-watson==3.1.2
idna==2.8
idna-ssl==1.1.0
imagesize==1.1.0
ipykernel==5.1.0
ipython==7.5.0
ipython-genutils==0.2.0
isort==4.3.18
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10.1
jinja2-time==0.2.0
jsonschema==3.0.1
jupyter-client==5.2.4
jupyter-core==4.4.0
jupyterlab==0.35.4
jupyterlab-server==0.2.0
kaitaistruct==0.8
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
keyring==18.0.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.0
ldap3==2.4.1
lepl==5.1.3
lief==0.8.3
lightgbm==2.1.0
locket==0.2.0
lxml==4.3.3
macholib==1.11
Mako==1.0.9
Markdown==3.1
MarkupSafe==1.1.1
marshmallow==2.19.2
marshmallow-sqlalchemy==0.16.2
matplotlib==3.0.2
mccabe==0.6.1
misaka==2.1.1
mistune==0.8.4
mitmproxy==3.0.2
mkl-fft==1.0.12
mkl-random==1.0.2
mock==2.0.0
msgpack==0.6.1
multidict==4.4.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.3
notebook==5.7.8
numpy==1.16.3
numpydoc==0.9.1
olefile==0.46
packaging==19.0
pandas==0.24.2
pandocfilters==1.4.2
parso==0.4.0
partd==0.3.10
passlib==1.7.1
pbr==5.2.0
pdfkit==0.6.1
pefile==2019.4.18
pickleshare==0.7.5
Pillow==6.0.0
play-scraper==0.5.4
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.7.1
psutil==5.6.2
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycodestyle==2.5.0
pycparser==2.19
pydivert==2.1.0
pydot==1.4.1
PyExifTool==0.1
pyflakes==2.1.1
Pygments==2.4.0
pygpu==0.7.6
PyJWT==1.7.1
pylint==2.3.1
pymongo==3.8.0
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyperclip==1.6.5
pyreadline==2.1
pyrsistent==0.14.11
PySocks==1.6.8
python-dateutil==2.8.0
python-magic==0.4.15
pytz==2019.1
pywin32==223
pywinpty==0.5.5
PyYAML==5.1
pyzmq==18.0.0
QtAwesome==0.5.7
qtconsole==4.4.3
QtPy==1.7.1
requests==2.21.0
requests-futures==0.9.9
rfc6266==0.0.4
rope==0.14.0
rsa==4.0
ruamel.yaml==0.15.94
scikit-learn==0.20.3
scipy==1.2.1
seaborn==0.9.0
Send2Trash==1.5.0
singletonify==0.2.3
six==1.12.0
snowballstemmer==1.2.1
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.1
spade==3.1.0
spade-bokeh==0.1.2
speaklater==1.3
Sphinx==2.0.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.0
spyder==3.3.3
spyder-kernels==0.4.2
SQLAlchemy==1.3.3
sqlalchemy-migrate==0.12.0
sqlparse==0.3.0
tblib==1.4.0
Tempita==0.5.2
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tensorflow-gpu==2.5.3
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
Theano==1.0.3+2.g3e47d39ac.dirty
timeago==1.0.8
toolz==0.9.0
tornado==5.1
tqdm==4.21.0
traitlets==4.3.2
typed-ast==1.3.4
typing-extensions==3.7.2
tzlocal==1.5.1
urllib3==1.24.2
urwid==2.0.1
vega==2.1.0
vega-datasets==0.7.0
visitor==0.1.3
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.48.0
Werkzeug==0.15.2
whitenoise==4.1.2
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.1
wsproto==0.11.0
WTForms==2.2.1
xgboost==0.82
xlrd==1.2.0
yara-python==3.10.0
yarl==1.3.0
zict==0.1.4