<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    <title>Malware Analyzer AND Report Generator</title>
  </head>
  <body>
       <!-- Image and text -->
       <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
            <img src="/app/static/img/Logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Malware Analyzer AND Report Generator
        </a>
      </nav>

    <section>
        <div class="container p-5">
         
      
      
          <div class="row">
            <div class="col-lg-5 mx-auto">
              <div class="p-5 bg-white shadow rounded-lg"><img src="https://res.cloudinary.com/mhmd/image/upload/v1557366994/img_epm3iz.png" alt="" width="200" class="d-block mx-auto mb-4 rounded-pill">
      
                <!-- Default bootstrap file upload-->
      
                <h6 class="text-center mb-4 text-muted">
                  Upload a file that you want to scan 
                </h6>
                
                <form  method="POST" enctype="multipart/form-data">

                  <div class="form-group">
                    
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" name="file" id="image">
                      <label class="custom-file-label" for="image">Select FILE...</label>
                    </div>
                  </div>
          
                  <button type="submit" class="btn btn-primary">Upload</button>
          
                </form>
                   
               
      
               
      
              </div>
            </div>
          </div>
        </div>
      </section>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>